<h1>Welcome to One Month Rails</h1>
<p>You've found the page for One Month Rail Application</p>
<p><%= link_to "Sign Up Now", "#" %>
</p>
<p><%= link_to "One Month Rails Project", "http://onemonthrails.com" %> is a fun way to spend your time.</p>
