<% if user_signed_in? %>
	<h1>Welcome! You're logged in to OMRails.</h1>
<% else %>
	<div class= "hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>You've found the page for One Month Rail Application</p>
	<p><%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary" %>
	</p>
	<p><%= link_to "One Month Rails Project", "http://onemonthrails.com" %> is a fun way to spend your time.</p>
	</div>
<% end %>